body {
  font-family: Arial;
  background: linear-gradient(135deg,#5f2dbd,#8a2be2,#c026d3);
  margin: 0;
  padding: 20px;
}

.top {
  color: white;
  display: flex;
  justify-content: space-between;
}

.kpi-row {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.kpi {
  background: white;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.charts {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.back-btn {
    position: absolute;
    top: 20px;
    right: 30px;

    padding: 10px 18px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;

    text-decoration: none;
    font-size: 15px;
    font-weight: 600;

    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255, 0.4);

    transition: all 0.3s ease;
    backdrop-filter: blur(6px);
}

 /* Hover effect  */
.back-btn:hover {
    background: #ffffff;
    color: #7b2cbf;
    border-color: #ffffff;
    transform: translateX(-4px);
}